body{
	height: 200px;
}

/*header start*/
.header{padding: 20px 15px;
	background-color:#F6F8F9;
	position: fixed;
	top: 0;

}

.logo{
	vertical-align: middle;
	margin-right: 94px;
	color: #FA6980;
}

.nav{
	display: inline-block;
	vertical-align: middle;
}

.nav-li{
	margin-right:28px;
	display: inline-block;
}

.header-img{
	vertical-align: middle;
	display: inline-block;
	margin-right: 40px;
}
/*header end*/
